@using AvioIndustrija.ViewModels;
@*@model AvioIndustrija.Models.Let
*@
@model CreateLetViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Let</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h4>@ViewData["error"]</h4>
            <div class="form-group">
                <label asp-for="BrojLeta" class="control-label"></label>
                <input asp-for="BrojLeta" class="form-control" />
                <span asp-validation-for="BrojLeta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvionId" class="control-label"></label>
                <select asp-for="AvionId" class ="form-control" asp-items="ViewBag.AvionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RelacijaId" class="control-label"></label>
                <select asp-for="RelacijaId" class ="form-control" asp-items="ViewBag.RelacijaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="VrijemePoletanja" class="control-label"></label>
                <input asp-for="VrijemePoletanja" class="form-control" />
                <span asp-validation-for="VrijemePoletanja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VrijemeSletanja" class="control-label"></label>
                <input asp-for="VrijemeSletanja" class="form-control" />
                <span asp-validation-for="VrijemeSletanja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
